{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "us-south",
  "database_tags": $TAGS,
  "database_name": $PREFIX,
  "resource_group_name": $PREFIX,
  "existing_kms_instance_crn": $HPCS_US_SOUTH_CRN
}
